.dwon-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.dwon-arrow .image-arrow {
    width: 100px;
    height: 100px;
}

.color-style {
    background-color: white;

    border-bottom: 2px solid #C3CFE0;
    height: auto;
}

.navbar-back {
    width: 100%;
    height: auto; 
    background: #F6F8FC;
    border-bottom: 2px solid #C3CFE0;
    box-shadow: 0px 10px 24px 0px #ACACAC26;
    padding: 10px 24px;
}

.navbar-back form {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 20px;
    flex-wrap: wrap;
}

.navbar-back .form-control-one {
    border: 1px solid #C3CFE0;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 7px 10px; 
    flex: 1; 
    min-width: 730px; 
}

.navbar-back .form-control-two {
    border: 1px solid #C3CFE0;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 7px 10px; 
    flex: 2; 
    min-width: 200px;   
}

.navbar-back .form-control-one label, .navbar-back .form-control-two label {
    font-size: 15px;
    font-weight: 500;
    color: #272848;
    margin: 0;
}

.navbar-back .form-control-one input, .navbar-back .form-control-two input {
    background: none;
    border: none;
    outline: none;
    padding-left: 10px;
    width: 100%;
   
}

.navbar-back .form-control-two input {
    color: #535353;
    font-size: 16px;
    font-weight: 400;
}

.navbar-back .button-color {
    background: #0167FF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    width: 140px;
    height: 42px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex-shrink: 0;
}

/* Media query for tablet view */

@media (max-width: 1024px) {
    .navbar-back .form-control-one {
        min-width: 480px; 
    }

    .navbar-back .form-control-two {
        min-width: 300px; 
    }
}

@media (max-width: 990px) {
    .navbar-back form {
        flex-direction: column;
        align-items:stretch; 
    }

    .navbar-back .form-control-one, .navbar-back .form-control-two {
        width: 100%;
        min-width: unset;
        margin-bottom: 10px; 
    }

    .navbar-back .button-color {
        margin-top: 10px; 
    }
}





.video-wrapper {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100vh;
    margin: 60px auto;
  }
  
  .video-player {
    transition: transform 1s ease , width 1s ease, height 1s ease;
  }
  
  .video-player.zoomed {
    width: 100%;
    transform: scale(1);
  }
  
  .video-player.zoomed-out {
    width: 1118px;
    height: 800px;
    transform: scale(1);
  }
  
  .video {
    width: 100%;
    transition: transform 1s ease;
  }
  
/* Mobile view adjustments */
@media (max-width: 768px) {
    .video-wrapper {
       
        height:auto;
        margin: 0 auto;
      }
  
    .video-player.zoomed-out {
      width: 70%;
      height: auto;
      transform: scale(1);
    }
  
    .video-player.zoomed {
      width: 100%;
    }
  }
  







